<div class="container" [ngStyle]="{'margin-bottom':'30px'}">
  <h3>Фильтры</h3>
  <div class="row mb-1">
    <div class="col">
      <input type="text" [(ngModel)]="srchFN" class="form-control" placeholder="Поиск по имени">
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="srchLN" class="form-control" placeholder="Поиск по фамилии">
    </div>
  </div>
</div>


<app-person-view (delPerson)="onDeletePerson($event)"
                 (editPerson)="onEditPerson($event)"
                 [inPerson]="person"
                 *ngFor="let person of persons | searchFirstname:srchFN | searchLastname:srchLN">
</app-person-view>
<hr>
<app-person-add (addperson)="onAddPerson($event)"></app-person-add>