<div class="container">
  <h2>Добавить нового пользователя</h2>
  <form [formGroup]="FormAdd">
    <div class="row ">
      <div class="col-12">
        <input type="text" formControlName="firstname" class="form-control" placeholder="Имя">
      </div>
      <div class="col-12 mt-2">

        <input type="text" formControlName="lastname" class="form-control" placeholder="Фамилия">
      </div>
      <div class="col-12 mt-2">

        <input type="text" [textMask]="{mask: mask}"  formControlName="phone" class="form-control" placeholder="Телефон">
      </div>

      <div class="col-2" [ngStyle]="{'margin-top':'15px'}">
        <button  class="btn btn-primary" (click)="onAddPerson()">Сохранить</button>
      </div>
    </div>
  </form>
</div>
